body {
    background-color: rgb(235, 235, 235);
}
.container {
    margin: 0 auto;
    max-width: 800px;
    padding-left: 5%;
    padding-right: 5%;
}


video {
    width: 100%;
    height: 56.25%;
    margin-left: auto;
    margin-right: auto;
    
}
h1 {
    text-align: center;
}